@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    display: flex;
    overflow: hidden;
    padding: 20px 0;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before { left: 0; }
  
  .logos:after { right: 0; }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    /* display: inline-block; */
    display: flex;
    animation: 35s slide infinite linear;
  }
  
  .logos-slide img {
    height: auto;
    margin: 0 40px;
  }




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(221, 221, 221); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2C5CCE; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #18357a; 
}


/* Nav Bar */
@media screen and (max-width:992px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
  }
}

/* Trustpilot */
/*Copy of v1 code from classes.css*/
.mobrog-v1-trustpilot-main-container {
    border: 1px solid rgb(234, 242, 250);
    box-shadow: 3px 2px 30px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: #fcfdfd;
    padding: 2em;
    height: 210px;
    margin: 0;
    display: flex;
    align-content: center;
}

.mobrog-v1-trustpilot-main {
    margin: 0 auto;
    position: relative;
}

.mobrog-v1-trustpilot-mainInfo-container {
    float: left;
    max-width: 15em;
    text-align: center;
}

.mobrog-v1-trustpilot-mainInfo-container h1 {
    font-size: 24px;
    margin: 0 0 12px;
    font-weight: 400;
    color: #191919;
    text-decoration: none;
}

.trustpilot-5star-image {
    width: 75%;
    height: auto;
}

.mobrog-v1-trustpilot-mainInfo-container p {
    color: #191919;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    padding-top: 0.5em;
}

.trustpilot-5star-image-logo {
    width: 50%;
    padding-top: 0.5em;
    height: auto;
}

.mobrog-v1-trustpilot-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobrog-v1-trustpilot-main i {
    font-size: 28px;
    padding-left: 1em;
    padding-right: 0.5em;
    color: rgb(187, 187, 187);
    cursor: pointer;
}

.mobrog-v1-trustpilot-sub-container {
    display: inline-block;
    height: 110px;
    margin: 0 15px 10px 0;
    padding: 0 0 0 20px;
    position: relative;
    vertical-align: top;
    white-space: normal;
    width: 231.25px;
}

.mobrog-v1-trustpilot-sub-container img {
    width: 55%;
    margin-bottom: 0.5em;
}

.mobrog-v1-trustpilot-sub-container h2 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 0.5em;
    width: 100%;
}

.mobrog-v1-trustpilot-sub-container p {
    font-size: 13px;
    line-height: 16px;
    margin: 0 0 8px;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    font-weight: 400;
}

.mobrog-v1-trustpilot-sub-container {
    width: 234.25px;
    margin: 1em;
}

.mobrog-v1-trustpilot-sub-containers {
    user-select: none;
    transition-timing-function: ease;
    transform: translateX(0px);
    transition-duration: 0s;
    height: 11em;
    overflow-x: hidden;
    white-space: nowrap;
    max-width: 45em;
}

@media (max-width: 1500px) {
    .mobrog-v1-trustpilot-sub-containers {
        width: 52em;
    }
}

@media (max-width: 1392px) {
    .mobrog-v1-trustpilot-sub-containers {
        width: 36em;
    }
}

@media (max-width: 1104px) {
    .mobrog-v1-trustpilot-sub-containers {
        width: 17em;
    }
}

@media (max-width: 854px) {

    #slideLeft,
    #slideRight,
    .mobrog-v1-trustpilot-sub-containers {
        display: none;
    }

    .mobrog-v1-trustpilot-sub-containers {
        margin-left: 0;
    }

    .mobrog-v1-trustpilot-main-container {
        padding: 1em;
        margin: 1em;
    }
}
